In [2]:
import pandas as pd

all_sites_df = pd.read_csv('/mnt/e/CERA/CausalST-forecast/data/era5_features_sites_2201-2202.csv')
all_sites_df.head()

,valid_time,ssrd,number_x,latitude_x,longitude_x,expver_x,site,q,t,cc,u,v,number_y,pressure_level,latitude_y,longitude_y,expver_y
0,2022-01-01 00:00:00,0.0,0,27.5833,71.4333,1,Bhadla,0.000692,-15.251404,0.0,16.068619,-2.409164,0.0,500.0,27.5833,71.4333,1.0
1,2022-01-01 01:00:00,0.0,0,27.5833,71.4333,1,Bhadla,0.000653,-15.295502,0.0,15.994354,-2.363953,0.0,500.0,27.5833,71.4333,1.0
2,2022-01-01 02:00:00,0.0,0,27.5833,71.4333,1,Bhadla,0.000709,-15.339630,0.0,15.737518,-1.970795,0.0,500.0,27.5833,71.4333,1.0
3,2022-01-01 03:00:00,173888.0,0,27.5833,71.4333,1,Bhadla,0.000834,-15.366119,0.0,15.418213,-1.148651,0.0,500.0,27.5833,71.4333,1.0
4,2022-01-01 04:00:00,812992.0,0,27.5833,71.4333,1,Bhadla,0.000946,-15.400391,0.0,14.901428,-0.414169,0.0,500.0,27.5833,71.4333,1.0

In [5]:
bhadla_df = all_sites_df[all_sites_df['site'] == 'Bhadla']
bhadla_df

,valid_time,ssrd,number_x,latitude_x,longitude_x,expver_x,site,q,t,cc,u,v,number_y,pressure_level,latitude_y,longitude_y,expver_y
0,2022-01-01 00:00:00,0.0,0,27.5833,71.4333,1,Bhadla,0.000692,-15.251404,0.0,16.068619,-2.409164,0.0,500.0,27.5833,71.4333,1.0
1,2022-01-01 01:00:00,0.0,0,27.5833,71.4333,1,Bhadla,0.000653,-15.295502,0.0,15.994354,-2.363953,0.0,500.0,27.5833,71.4333,1.0
2,2022-01-01 02:00:00,0.0,0,27.5833,71.4333,1,Bhadla,0.000709,-15.339630,0.0,15.737518,-1.970795,0.0,500.0,27.5833,71.4333,1.0
3,2022-01-01 03:00:00,173888.0,0,27.5833,71.4333,1,Bhadla,0.000834,-15.366119,0.0,15.418213,-1.148651,0.0,500.0,27.5833,71.4333,1.0
4,2022-01-01 04:00:00,812992.0,0,27.5833,71.4333,1,Bhadla,0.000946,-15.400391,0.0,14.901428,-0.414169,0.0,500.0,27.5833,71.4333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,2022-02-28 19:00:00,0.0,0,27.5833,71.4333,1,Bhadla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1412,2022-02-28 20:00:00,0.0,0,27.5833,71.4333,1,Bhadla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1413,2022-02-28 21:00:00,0.0,0,27.5833,71.4333,1,Bhadla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1414,2022-02-28 22:00:00,0.0,0,27.5833,71.4333,1,Bhadla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1415,2022-02-28 23:00:00,0.0,0,27.5833,71.4333,1,Bhadla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = bhadla_df.copy()
df = df[['valid_time', 't', 'q', 'u', 'v', 'ssrd']]
df = df.rename(columns={'valid_time': 'time'})

df.to_csv("Bhadla_winter2022.csv", index=False)

print(df.head())

                  time          t         q          u         v      ssrd
0  2022-01-01 00:00:00 -15.251404  0.000692  16.068619 -2.409164       0.0
1  2022-01-01 01:00:00 -15.295502  0.000653  15.994354 -2.363953       0.0
2  2022-01-01 02:00:00 -15.339630  0.000709  15.737518 -1.970795       0.0
3  2022-01-01 03:00:00 -15.366119  0.000834  15.418213 -1.148651  173888.0
4  2022-01-01 04:00:00 -15.400391  0.000946  14.901428 -0.414169  812992.0

In [1]:
SOLAR_FIELDS = [ {"name": "Bhadla", "lat": 27.5833, "lon": 71.4333}, 
                {"name": "Tengger", "lat": 37.3333, "lon": 103.8558}, 
                {"name": "Benban", "lat": 24.5561, "lon": 32.9016}, 
                {"name": "Cestas", "lat": 44.7255, "lon": -0.8157}, 
                {"name": "Balboa", "lat": 38.4533, "lon": -6.2260}, 
                {"name": "Topaz", "lat": 35.2426, "lon": -120.0096}, 
                {"name": "DesertSun", "lat": 33.8214, "lon": -115.3939}, 
                {"name": "Pirapora", "lat": -17.0891, "lon": -44.9878}, 
                {"name": "Nyngan", "lat": -31.5575, "lon": 147.2031}, ]

In [3]:
import os

all_sites = [s["name"] for s in SOLAR_FIELDS]

cols = ['valid_time', 'site', 't', 'q', 'u', 'v', 'ssrd']

outdir = "site_csvs"
os.makedirs(outdir, exist_ok=True)

for site in all_sites:
    site_df = all_sites_df.loc[all_sites_df['site'] == site, cols].copy()
    if site_df.empty:
        print(f"[skip] {site}: no rows found in all_sites_df")
        continue

    site_df = site_df.rename(columns={'valid_time': 'time'})
    outfile = os.path.join(outdir, f"{site}_winter2022.csv")
    site_df.to_csv(outfile, index=False)
    print(f"[ok] {site}: {len(site_df)} rows -> {outfile}")

[ok] Bhadla: 1416 rows -> site_csvs/Bhadla_winter2022.csv
[ok] Tengger: 1416 rows -> site_csvs/Tengger_winter2022.csv
[ok] Benban: 1416 rows -> site_csvs/Benban_winter2022.csv
[ok] Cestas: 1416 rows -> site_csvs/Cestas_winter2022.csv
[ok] Balboa: 1416 rows -> site_csvs/Balboa_winter2022.csv
[ok] Topaz: 1416 rows -> site_csvs/Topaz_winter2022.csv
[ok] DesertSun: 1416 rows -> site_csvs/DesertSun_winter2022.csv
[ok] Pirapora: 1416 rows -> site_csvs/Pirapora_winter2022.csv
[ok] Nyngan: 1416 rows -> site_csvs/Nyngan_winter2022.csv

### single-level only

In [1]:
import xarray as xr
import pandas as pd
import numpy as np
import os

# === path to your single-level (accumulated) ERA5 file with SSRD ===
accum_file = "/mnt/e/CERA/CausalST-forecast/6ee3307ab5f4ad1a21b5337a13effb9e.nc"

# === study sites ===
SOLAR_FIELDS = [
    {"name": "Bhadla",    "lat": 27.5833,  "lon":  71.4333},
    {"name": "Tengger",   "lat": 37.3333,  "lon": 103.8558},
    {"name": "Benban",    "lat": 24.5561,  "lon":  32.9016},
    {"name": "Cestas",    "lat": 44.7255,  "lon":  -0.8157},
    {"name": "Balboa",    "lat": 38.4533,  "lon":  -6.2260},   # Núñez de Balboa
    {"name": "Topaz",     "lat": 35.2426,  "lon": -120.0096},
    {"name": "DesertSun", "lat": 33.8214,  "lon": -115.3939},
    {"name": "Pirapora",  "lat": -17.0891, "lon": -44.9878},
    {"name": "Nyngan",    "lat": -31.5575, "lon": 147.2031},
]

# --- open and normalize time coordinate ---
def open_ssrd_dataset(path):
    ds = xr.open_dataset(path)  # decode_times=True by default
    # unify the time coordinate name to 'time'
    if 'valid_time' in ds.coords and 'time' not in ds.coords:
        ds = ds.rename({'valid_time': 'time'})
    return ds

ds = open_ssrd_dataset(accum_file)
assert 'ssrd' in ds.data_vars, "The dataset must contain the 'ssrd' variable."

# --- helper: ERA5 longitudes can be 0..360 or -180..180 ---
def normalize_lon_for_ds(lon, ds):
    if 'longitude' not in ds.coords:
        return lon
    lon_max = float(ds['longitude'].max())
    return lon % 360 if lon_max > 180 else lon

# --- extract only SSRD at the nearest grid point for each site ---
def extract_ssrd_site(ds, site):
    lat = site['lat']
    lon = normalize_lon_for_ds(site['lon'], ds)
    sub = ds.sel(latitude=lat, longitude=lon, method='nearest')
    df = sub[['ssrd']].to_dataframe().reset_index()
    df['site'] = site['name']
    # keep selected gridpoint coords (nice for sanity checks)
    df['latitude']  = float(sub['latitude'])
    df['longitude'] = float(sub['longitude'])
    return df[['time', 'site', 'latitude', 'longitude', 'ssrd']]

# collect all sites
all_sites_df = pd.concat([extract_ssrd_site(ds, s) for s in SOLAR_FIELDS], ignore_index=True)
all_sites_df.sort_values(['site','time'], inplace=True)
print(all_sites_df.head())

                    time    site  latitude  longitude  ssrd
5952 2021-07-01 00:00:00  Balboa      38.5     353.75   0.0
5953 2021-07-01 01:00:00  Balboa      38.5     353.75   0.0
5954 2021-07-01 02:00:00  Balboa      38.5     353.75   0.0
5955 2021-07-01 03:00:00  Balboa      38.5     353.75   0.0
5956 2021-07-01 04:00:00  Balboa      38.5     353.75   0.0

In [3]:
# convert accumulated ssrd to hourly energy via positive diffs
def accum_to_hourly_energy(df):
    df = df.copy().sort_values('time')
    hourly = df['ssrd'].diff()
    # handle day/forecast resets (negative/zero steps)
    hourly = hourly.where(hourly > 0)
    return hourly

all_sites_df['ssrd_hourly'] = (
    all_sites_df.groupby('site', group_keys=False).apply(accum_to_hourly_energy)
)

# optional: irradiance (W/m^2) if you need it later
all_sites_df['ssrd_wm2'] = all_sites_df['ssrd_hourly'] / 3600.0

# export the per-site CSVs your analysis uses
outdir = "site_csvs_2021"
os.makedirs(outdir, exist_ok=True)

for site in [s['name'] for s in SOLAR_FIELDS]:
    sub = all_sites_df[all_sites_df['site'] == site].copy()
    sub = sub.dropna(subset=['ssrd_hourly'])
    # keep the minimal schema used downstream: time + ssrd (hourly energy)
    out = sub[['time', 'site', 'ssrd_hourly']].rename(columns={'ssrd_hourly': 'ssrd'})
    outfile = os.path.join(outdir, f"{site}_summer2021.csv")
    out.to_csv(outfile, index=False)
    print(f"[ok] {site}: {len(out)} rows -> {outfile}")

/tmp/ipykernel_96222/4079474591.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  all_sites_df.groupby('site', group_keys=False).apply(accum_to_hourly_energy)

[ok] Bhadla: 485 rows -> site_csvs_2021/Bhadla_summer2021.csv
[ok] Tengger: 479 rows -> site_csvs_2021/Tengger_summer2021.csv
[ok] Benban: 435 rows -> site_csvs_2021/Benban_summer2021.csv
[ok] Cestas: 514 rows -> site_csvs_2021/Cestas_summer2021.csv
[ok] Balboa: 494 rows -> site_csvs_2021/Balboa_summer2021.csv
[ok] Topaz: 491 rows -> site_csvs_2021/Topaz_summer2021.csv
[ok] DesertSun: 478 rows -> site_csvs_2021/DesertSun_summer2021.csv
[ok] Pirapora: 419 rows -> site_csvs_2021/Pirapora_summer2021.csv
[ok] Nyngan: 385 rows -> site_csvs_2021/Nyngan_summer2021.csv